apiVersion: v1
kind: ConfigMap
metadata:
  name: fluentd-configmap
  namespace: kube-system
data:
  fluent.conf: |
    # This is the root config file, which only includes components of the actual configuration

    # Do not collect fluentd's own logs to avoid infinite loops.
    <label @FLUENT_LOG>
      <match fluent.*>
        @type stdout
      </match>
    </label>

    # Receive events from 24224/tcp
    # This is used by log forwarding and the fluent-cat command
    <source>
      @type forward
      port 24224
    </source>
    <match app.**>
        @type stdout
    </match>

    @include /etc/fluent/config.d/*.conf